@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a, .yellow {
  text-decoration: none;
  color: #e6930e;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #af7516ad;
    border-radius: 2rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    flex-wrap: wrap;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
